/* Здесь подключаем шрифты, используя правило @font-face*/
@font-face {
    font-family: MuliRegular; 
    src: url(./assets/fonts/Muli-Regular.woff); 
}
/*И повторяем этот кусок кода изменяя имя шрифта и путь к файлу*/


/* Общие стили */
* {
padding: 0;
margin: 0;
box-sizing:border-box;
}

a {
    text-decoration: none;
}


/* Header */


/* Smoothies */


/* About */


/* Products */


/* Story */


/* Testimonials */


/* Blog */


/* Instagram */


/* Footer */



/* Здесь будут медиа запросы */





