/* Здесь подключаем шрифты, используя правило @font-face*/
@font-face {
    font-family: "Muli";
    src: url(/it-incubator/Smoothie-project-start/assets/fonts/Muli.ttf);
    font-style: normal;
}

@font-face {
    font-family: "Muli-Bold";
    src: url(/it-incubator/Smoothie-project-start/assets/fonts/Muli-Bold.ttf);
    font-style: normal;
}

@font-face {
    font-family: "Muli-Italic";
    src: url(/it-incubator/Smoothie-project-start/assets/fonts/Muli-Italic.ttf);
    font-style: italic;
}

/*И повторяем этот кусок кода изменяя имя шрифта и путь к файлу*/


/* Общие стили */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    width: 100%;
    height: 100%;
    font-family: Muli;
}

/* Header */

.header {
    background: url(/it-incubator/Smoothie-project-start/assets/img/header-bg.png) center no-repeat;
    height: 100vh;
}

.header__top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-top: 70px;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 105px;
}

.menu {
    font-family: Muli;

}

.header__menu {
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 25px;
}

.menu__item {
    display: inline-block;
    margin-right: 20px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;

}

.header__logo {
    margin-right: 60px;
}

.header__icons {
    display: flex;
}

.header__personal {
    padding-top: 25px;
    margin-right: 135px;
    position: relative;
}

.header__personal::after {
    content: "";
    display: inline-block;
    height: 2px;
    width: 50px;
    background-color: #ffd68f;
    position: absolute;
    top: 50%;
    right: -90px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.personal {}

.personal__list {
    display: flex;
}

.personal__item {
    list-style: none;
    margin-right: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.personal__item:last-child {
    margin-right: 0;
    position: relative;
}


.personal__cart-count {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18px;
    width: 18px;
    font-size: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    top: -15px;
    right: -12px;
}

.header__social {
    padding-top: 20px;
}

.social {}

.social__list {
    display: flex;
}

.social__item {
    display: flex;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    background-color: #ffffff;
    list-style: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.social__item:last-child {
    margin-right: 0;
}

.social__link {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 38px;
    color: white;
    font-weight: 800;
    font-size: 21px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}

.header__btn {
    width: 280px;
    height: 70px;
    font-size: 24px;
    border: 0;
}

.btn--green-bg {
    background-color: #0aa566;
    position: relative;
}

.btn--green-bg::after,
.btn--yellow-border::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 16px;
    background-image: url(/it-incubator/Smoothie-project-start/assets/img/yellow-arrow.png);
    top: 50%;
    right: 38px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}



/* Smoothies */

.smoothies {
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smoothies__title {
    font-size: 50px;
    margin: 100px 0 55px 0;
    color: #f7ae3b;
}

.title {
    font-family: Muli-Bold;
    letter-spacing: -1px;
}

.smoothies__lead {
    max-width: 915px;
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 2;
    text-align: center;
}

.text {
    color: #1e1e1e;
    font-size: 18px;
}

.smoothies__features {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 1010px;
}

.smoothies__item {
    flex: 1 0 240px;
    padding: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 35px;
}

.smoothies__item:nth-child(1),
.smoothies__item:nth-child(2),
.smoothies__item:nth-child(3),
.smoothies__item:nth-child(4) {
    border-bottom: 2px solid #f6edde;
}

.smoothies__item:nth-child(1),
.smoothies__item:nth-child(5),
.smoothies__item:nth-child(2),
.smoothies__item:nth-child(6),
.smoothies__item:nth-child(3),
.smoothies__item:nth-child(7) {
    border-right: 2px solid #f6edde;
}

/* .smoothies__item:nth-child(1),
.smoothies__item:nth-child(2),
.smoothies__item:nth-child(3) {
    border-bottom: 2px solid #f6edde;
    border-right: 2px solid #f6edde;  
}
.smoothies__item:nth-child(4) {
    border-bottom: 2px solid #f6edde;
}

    .smoothies__item:nth-child(5),
    .smoothies__item:nth-child(6),
    .smoothies__item:nth-child(7) {
        border-right: 2px solid #f6edde; 
} */

.smoothies__icon {

    margin-bottom: 25px;
}

.smoothies__text {
    font-size: 20px;
    font-weight: 800;
    color: #f2612d;
}


/* About */

.about {
    background-color: #128173;
    display: flex;
    justify-content: center;
    max-height: 800px;
}

.about__img {
    z-index: 1;
    position: relative;
    top: 65px;

}

.about__content {
    max-width: 590px;
    margin-left: 140px;
    margin-top: 100px;
}

.about__title {
    font-size: 55px;
    text-align: left;
    color: white;
    margin-bottom: 50px;
}

.title--green {
    color: #cae941;
    position: relative;
}

.title--green::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 450px;
    height: 13px;
    background-image: url(/it-incubator/Smoothie-project-start/assets/img/green-line.png);
    bottom: -8px;
    right: -13px;
    /* transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);     */
}

.about__list {
    margin-bottom: 30px;

}

.about__item {
    list-style: none;
    background: url(/it-incubator/Smoothie-project-start/assets/img/list-icon.png) no-repeat 0 4px;
    padding-left: 35px;
    padding-bottom: 25px;
    color: white;
}

.about__bold-text {
    font-weight: 800;
}

.about__btn {
    width: 380px;
    height: 60px;
    font-size: 21px;
    padding: 0 40px 0 30px;
}


.btn--yellow-border {
    border: 2px solid #fcb438;
    background: none;
    position: relative;
}


/* Products */

.products {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    color: white;
}

.products__item {
    width: 480px;
    height: 720px;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
}

.products__item:nth-child(1) {
    background-color: #632b17;
}

.products__item:nth-child(2) {
    background-color: #178670;
}

.products__item:nth-child(3) {
    background-color: #f7ae3b;
}

.products__item:nth-child(4) {
    background-color: #c3471b;
}

.products__thumb {
    align-self: center;
    margin-bottom: 35px;
    margin-top: 45px;
}

.products__caption {
    align-self: center;
    font-size: 24px;
    letter-spacing: normal;
    margin-bottom: 10px;
}

.products__desc {
    align-self: center;
    font-size: 21px;
    margin-bottom: 65px;
    font-style: italic;
}

.products__btn {
    align-self: center;
    width: 200px;
    height: 60px;
}

.btn--white-border {
    border: solid 2px #ffffff;
    background: none;
    position: relative;
}

.btn--white-border::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 16px;
    background-image: url(/it-incubator/Smoothie-project-start/assets/img/white-arrow.png);
    top: 50%;
    right: 36px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);

}


/* Story */

.story {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 160px;
}

.story__content {
    /*margin-left: 310px;*/
    margin-right: 205px;
}

.story__title {
    font-size: 50px;
    color: #f7ae3b;
    margin-bottom: 45px;
}

.story__lead {
    max-width: 510px;
    font-size: 18px;
    line-height: 2;
    margin-bottom: 60px;
}

.story__btn {
    width: 300px;
    height: 60px;
    border: 0;
}

.story__image-block {
    position: relative;
}

.story__img {}

.story__sketch {
    position: absolute;
    top: 22px;
    left: -166px;
}


/* Testimonials */

.testimonials {
    background-color: #672f1b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 80px;
}

.testimonials__title {
    font-size: 50px;
    color: #f7ae3b;
    margin-bottom: 120px;
}

.title--orange {
    color: #f2612d;
}

.testimonials__item {
    display: flex;
    justify-content: center;
    margin-bottom: 145px;
}

.testimonials__content {
    max-width: 455px;
    align-self: center;
    text-align: center;
    margin-right: 60px;
}

.testimonials__quote {
    color: #ffffff;
    display: block;
    line-height: 2;
    margin-bottom: 15px;
}

.testimonials__cite {
    color: #f7ae3b;
    display: block;
}

.testimonials__buttons {}

.testimonials__button-left {
    border: none;
    background: none;
    margin-right: 100px;
}

.testimonials__button-left::after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 16px;
    background-image: url(/it-incubator/Smoothie-project-start/assets/img/yellow-arrow-left.png);
}

.testimonials__button-right {
    border: none;
    background: none;
}

.testimonials__button-right::after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 16px;
    background-image: url(/it-incubator/Smoothie-project-start/assets/img/yellow-arrow.png);
}

/* Blog */

.blog {
    padding-top: 100px;
    padding-bottom: 200px;
    display: flex;
    justify-content: center;
}

.blog__container {
    display: flex;
    flex-direction: column;
}

.blog__title {
    margin-bottom: 50px;
    font-size: 50px;
    color: #f7ae3b;
}

.blog__item {
    display: flex;
    justify-content: center;
}

.blog__item-thumb {}

.article {
    max-width: 690px;
    border-top: 12px solid #f7ae3b;
    padding-left: 60px;
    margin-top: 70px;
}

.article__title {
    font-size: 30px;
    color: #f2612d;
    line-height: 1.33;
    letter-spacing: -0.6px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.article__date {
    display: block;
    margin-bottom: 45px;
}

.article__excerpt {
    line-height: 2;
    padding-left: 60px;
    padding-right: 80px;
}

.article__span {
    font-family: Muli-Bold;
    font-style: italic;
    position: relative;
}

.article__span::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 18px;
    height: 10px;
    background-image: url(/it-incubator/Smoothie-project-start/assets/img/yellow-arrow-small.png);
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}



/* Instagram */

.instagram {
    padding-bottom: 10px;
}

.instagram__title {
    font-size: 24px;
    font-weight: 800;
    line-height: 2;
    letter-spacing: -0.50px;
    text-align: center;
    margin-bottom: 45px
}

.instagram__title-link {
    color: #0aa566;
    position: relative;
}

.instagram__title-link::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 26px;
    height: 26px;
    background-image: url(/it-incubator/Smoothie-project-start/assets/img/instagram-title-icon.png);
    top: 50%;
    left: -35px;
    transform: translateY(-35%);
    -webkit-transform: translateY(-35%);
    -moz-transform: translateY(-35%);
    -ms-transform: translateY(-35%);
    -o-transform: translateY(-35%);
}

.instagram__block {
    display: flex;
}

.instagram__img {
    flex: 1;
}


/* Footer */

.footer {}

.footer-top {
    display: flex;
    background-color: #f6ab3b;
    padding-top: 80px;
    padding-bottom: 90px;
}

.footer-top__logo {
    flex: 1 1 auto;
    align-self: center;
    margin-left: 100px;
}

.footer-top__section {
    flex: 3 1 auto;
    display: flex;
    justify-content: space-around;
}

.footer-top__menu-block {}

.footer-top__menu-title {
    font-size: 26px;
    line-height: 1.50;
    letter-spacing: -0.50px;
    margin-bottom: 35px;
    color: white;
}

.footer-top__menu {}

.footer-top__menu-list {}

.footer-top__menu-item {
    list-style: none;
    font-size: 18px;
    font-weight: 800;
    line-height: 2;
    letter-spacing: -0.40px;
    text-align: left;
}

.footer-top__menu-link {
    color: #6d450c;
}

.footer-top__payments {}

.footer-top__payments-title {
    font-size: 26px;
    line-height: 1.50;
    letter-spacing: -0.50px;
    margin-bottom: 35px;
    color: white;
}

.footer-top__subscribe {}

.footer-top__subscribe-title {
    font-size: 26px;
    line-height: 1.50;
    letter-spacing: -0.50px;
    margin-bottom: 35px;
    color: white;
}

.footer-top__subscribe-input {
    width: 495px;
    height: 60px;
    border-radius: 30px;
    background-color: #ffffff;
    border: none;
    margin-bottom: 35px;
    padding-left: 65px;
    font-size: 17px;
    font-weight: 800;
    color: #6d450c;
    background-image: url(/it-incubator/Smoothie-project-start/assets/img/newsletter-icon.png);
    background-repeat: no-repeat;
    background-position: 23px 23px;
}



.footer-top__subscribe-block {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}

.footer-top__subscribe-slogan {
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 2;
    letter-spacing: -0.50px;
    text-align: left;
    color: #6d450c;
    margin-right: 40px;
    position: relative;
}

.footer-top__subscribe-slogan::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 48px;
    height: 43px;
    background-image: url(/it-incubator/Smoothie-project-start/assets/img/footer-arrow.png);
    bottom: 15%;
    left: -65px;
}

}

.footer-top__social .social__item {
    background: none;
}



.footer-copyright {
    background-color: #6c2c1c;
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 20px;
    position: relative;
}

.footer-copyright__text {
    font-size: 13px;
    color: #af8a82;
}



.footer-copyright__btn-block {
    display: flex;
    position: absolute;
    right: 120px;
    top: 21px;
}

.footer-copyright__btn-text {
    font-size: 16px;
    color: #ffffff;
}

.footer-copyright__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2662f;
    border-radius: 5px;
    border: none;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 15px;
    left: 70px;
}

.footer-copyright__btn-arrow-up {}


/* Здесь будут медиа запросы */
